# Production dependencies - these are fixed due to dependency availability in
# the Snowflake Python UDF runtime.
scikit-learn==1.1.1
pandas==1.3.2
joblib==1.1.0
cachetools==4.2.2
numpy
matplotlib
snowflake-snowpark-python[pandas]
snowflake-connector-python[secure-local-storage,pandas]
python-dotenv

# Test dependencies
pytest

# Development dependencies
ipdb
black
sqlfluff
